


.message {
  font-size:24px;
}

body {

  width: 800px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

input, p {

  color: #E64A19;
  font-weight:300;
  width: 100%;
  font-size: 25px;
  border:0px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #4b545f;
  background: #fff;
  font-family: Open Sans,Verdana;
  padding: 10px 15px;
  margin: 30px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}


h1 {

  font-family: Open Sans,Verdana;
  font-weight:300;
  width: 100%;
  font-size: 50px;

}
